@{
    ViewBag.Title = "Decode";
}

<h1>Decode</h1>

<div class="nav-link">or @Html.ActionLink("Encode", "Encode")</div>

<div class="section">
    <div class="header">Decoding-type</div>
    @Html.Partial("TypesList", HtmlEncoder.Controllers.DecodeController.TypesList)
    <div class="clear"></div>
</div>

<div class="section">
    @Html.Label("source-text", "Source", new { @class = "header" })
    @Html.TextArea("source-text", string.Empty, 0, 0, null)
</div>

<div id="button-section" class="section">
    <button id="decode-button">Decode It!</button>
</div>

<div class="section">
    @Html.Label("result-text", "Result", new { @class = "header" })
    @Html.TextArea("result-text", string.Empty, 0, 0, new { @readonly = "readonly" })
</div>